################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HCP-Portal-Events/HCP-Portal-Events/HCP-Portal-Events.csproj
